body {
    color: white;
}

.loader_background_gif {

}

#loader_background_gif > .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    background-color: black!important;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loader_background_gif img {
    width: 67%;
    object-fit: contain;
    /* border: solid #ffa000 1px;
    border-radius: 5px; */
}

.portraits-container {
    margin-top: 100px!important;
    /* border: solid red; */
}

.loader__background {
    border: solid red!important;
}